.pg-good
  &__price
    float none
  &__price-price
    font-size $font-size+10
    font-family  $font
    color $second-font-color
    font-weight 500
  &__price-text
    font-size $font-size+4
    color $second-font-color
    font-family $font
    margin-right 10px