$url = ""
$white = #ffffff
$gray = #f6f5f3
$border-color = #dddddd
$footer-color = #212e4d
$font = "Rubik"
$font-size = 12px
$base-font-color = #444444
$second-font-color = #333333
$footer-title-color = #00a2e5
