.video-page
  &__video-main
    margin 0
    background url($url "/images/bg-video1.png") 50% 0%, url($url "/images/bg-video-page.png") 50% 15%
    padding 19px 28px
    height 450px
    border-radius 5px
    box-shadow 0px 6px 10px 0px rgba(16, 16, 16, 0.2)
    -webkit-box-shadow 0px 6px 10px 0px rgba(16, 16, 16, 0.2)
    -moz-box-shadow 0px 6px 10px 0px rgba(16, 16, 16, 0.2)
    margin-bottom 38px

  &__sort-by
    margin-bottom 30px

  &__video-small
    border 1px solid $white
    margin-bottom 30px

  &__video-small--active
    border 1px solid #e7582a
    margin-bottom 30px

  &__small-img
    margin-bottom 15px
    margin-left 20px
    margin-top 15px

  &__small-text
    color $second-font-color
    font-family $font
    font-size $font-size+2
    font-weight 500
    line-height 14px
    margin-left 15px