.pg-d-good
  &__price-price
    text-decoration line-through
    color #999999
    font-size $font-size+4
  &__price-text
    text-decoration line-through
    color #999999
    font-size $font-size+2
