h1
  text-decoration none
  color #3f4647
  font-size $font-size+14
  font-family $font
.h1
  text-decoration none
  color #3f4647
  font-size $font-size+14
  font-family $font
  &--news
    color $second-font-color
    margin-bottom 30px
    font-weight 400

  &--main
    margin-left 25px
    position relative
    top 30px
    font-weight 400
    display inline
  &--video
    margin-left 30px
    padding-top 30px
    margin-bottom 22px
    font-weight 400
    color #222222

  &--product
    margin-bottom 37px
    font-size $font-size+20
    font-weight 400
    font-family $font
    font-size #333333

  &--p-product
    margin-top 40px
    margin-bottom 37px
    font-size $font-size+20
    font-weight 400
    font-family $font


  &--p-buy
    margin-bottom 20px
    font-size $font-size+20
    font-weight 400
    font-family $font
    padding-top 30px

  &--page-title
    margin-bottom 32px
    font-size $font-size+20
    font-weight 400
    font-family $font
    padding-top 38px
    color $second-font-color