h3
  text-decoration none
  color #3f4647
  font-size $font-size+14
  font-family $font
.h3
  text-decoration none
  color #3f4647
  font-size $font-size+14
  font-family $font
  &--news
    color $second-font-color
    margin-bottom 30px
    font-weight 400
    display inline
