.hr
  width 100%

  &--page-cart
    background url($url "/assets/images/hr-cart.png") no-repeat 50% 50%
    height 1px
    width 100%
    display inline-block
    position relative
    top 15px

  &--page-checkout
    background url($url "/assets/images/hr-checkout.png") no-repeat 50% 50%
    height 1px
    width 100%
    display inline-block
    position relative
