.link
  color $base-font-color
  text-decoration none
  margin-right 7px
  cursor pointer
  &--icon
    color $white !important
    margin-right 0
  &:hover, &:visited
    color $base-font-color

  &--header-phone
    font-size $font-size+8

  &--show-more
    height 33px
    border 1px solid #a5ce76
    line-height 36px
    text-align center
    text-transform uppercase
    text-decoration none
    display block
    margin 0 auto
    margin-top 30px
    margin-bottom 50px
    border-radius 5px
    color #a5ce76
    font-family $font
    font-size $font-size+1
    &:hover, &:visited
      color #a5ce76

  &--filter-show-more
    height 34px
    margin 0 auto
    width 180px
    margin-top 17px
    margin-bottom 17px

  &--tab
    font-size $font-size+ 8
    font-family $font
    color $second-font-color
    text-decoration none
    margin 0
    border-bottom 1px dashed #000

  &--tab-no-border
    font-size $font-size+ 8
    font-family $font
    color $second-font-color
    text-decoration none
    margin 0


  &--tab-active
    font-size $font-size+ 8
    font-family $font
    color $second-font-color
    text-decoration none
    margin 0

  &--product-char-more
    font-size 14px
    font-family Rubik
    font-weight 400
    color #00a2e5
    margin-bottom 40px
    &:visited
      font-size 14px
      font-family Rubik
      font-weight 400
      color #00a2e5
      margin-bottom 40px

  &--delivery
    font-size 14px
    font-family Rubik
    font-weight 400
    color #00a2e5
    margin-bottom 19px
    margin-left 19px
    &:visited
      font-size 14px
      font-family Rubik
      font-weight 400
      color #00a2e5
      margin-bottom 40px

  &--coupon
    color #00a2e5
    font-family $font
    font-size $font-size+2
    font-weight 400
    border-bottom 1px dotted #00a2e5
    &:visited
      color #00a2e5

  &--tab-confirmed
    color #7cbb22
    &:visited
      color #7cbb22