.page__item
  float left
  margin-right 6px
  border 1px solid #ddd
  color #333
  width 40px
  height 40px
  border-radius 3px
  text-align center
  line-height 40px
  font-size $font-size+4
  font-family $font
  font-weight 400
  color $second-font-color

.page__item--active
  border 1px solid #e7582a
  color #ee9079

