.pagination
  margin-bottom 40px
  margin-left 25px
  width 854px
  &--pl
    position relative
    top 35px
    margin-bottom 75px
  &--full-width
    margin-bottom 40px
    width 100%
    margin-left 0