.sort-by
  height 60px
  width 100%
  font-weight 400

  &__sort
    float left
    height 23px
    line-height 23px
    color #222222

  &__item
    float left
    height 23px
    line-height 23px
    margin 0 10px 0 10px
    font-weight 400
    color #222222

  &__item--active
    background #e5f6fc
    color #00a2e5
    padding 0 10px 0 10px
    border-radius 10px
    font-weight 400