.search
  font-family  $font
  float left
  margin-left 30px

  &__text
    width 466px
    height 36px
    border-radius 3px 0 0 3px
    border 1px solid $border-color
    font-size $font-size+2
    color $base-font-color
    line-height 20px
    padding-left 15px
    font-family $font
    font-weight 400
    &:hover, &:active
      border-style: solid;
      border-width: 1px;
      border-color: rgb(231, 88, 42);
      opacity: 0.5;
      box-shadow: 0px 2px 4px 0px rgba(231, 88, 42, 0.4);

