.breadcrumbs
  height 85px
  background url($url "/images/product/bg-breadcrumbs.png") no-repeat 50% 50%
  line-height 85px

  .breadcrumbs__link
    font-family $font
    font-size $font-size+1
    color $base-font-color
    text-decoration none
    font-weight 400
    &--first
      margin-left 30px


  &__text
    color #e7582a
    margin 0 10px 0 10px
    font-size $font-size+2