.news
  height 355px
  float left
  width 265px
  margin-left 14.5px
  margin-right 14.5px

.news:last-child
  margin-right 0px
.news:first-child
  margin-left 0px

.news__img
  width 265px
  height 160px
  margin-bottom 20px

.news__link
  font-size $font-size+2
  font-family $font
  color $second-font-color
  margin-bottom 20px
  text-decoration none
  font-weight 500

.news__text
  font-size $font-size+2
  font-family $font
  color #555555
  font-weight 400