.checkout-confirm-form
  height 464px
  width 365px
  box-shadow 0px 2px 8px 0px rgba(0, 0, 0, 0.2)
  -moz-box-shadow 0px 2px 8px 0px rgba(0, 0, 0, 0.2)
  -webkit-box-shadow 0px 2px 8px 0px rgba(0, 0, 0, 0.2)
  background #faf7ef

  &__info-wrapper
    margin-left 23px
    margin-right 20px
    margin-top 30px

  &__title
    color #303030
    font-weight 400
    font-size $font-size+14
    font-family $font
    padding-top 22px
    padding-left 23px
    padding-bottom 15px
    border-bottom 1px solid #DDDDDD

  &__left-text
    float left

  &__right-text
    float right
    text-align right

  &__product-qty-text
    margin-bottom 25px
    font-size $font-size+4
    font-weight 400
    font-family $font
    color #555555

  &__product-sum-text
    font-size $font-size+4
    font-weight 400
    font-family $font
    color #555555

  &__product-qty-qty
    margin-bottom 21px
    font-size $font-size+6
    font-weight 400
    font-family $font
    color $second-font-color

  &__product-info-wrapper
    padding-bottom 19px
    border-bottom 1px solid #DDDDDD

  &__coupon
    width 100%
    margin-top 0

  &__in-total-text
    font-family $font
    font-size $font-size+4
    color #555555
    font-weight 400
    text-transform uppercase
    margin-top 38px
    float left

  &__in-total-price
    font-family $font
    font-size $font-size+18
    color $second-font-color
    margin-top 30px
    float right