.checkout-form
  height 100%
  width 818px
  float left
  position relative
  left -60px

  &__number
    font-family $font
    font-size $font-size+48
    color #EEEEEE
    font-weight 400
    float left
    width 20px
    padding-right 40px

  &__header
    height 50px

  &__content
    padding-top 17px
    float right
    width 756px
    border-left 1px solid #DDDDDD
    border-right 1px solid #DDDDDD
    border-bottom 1px solid #DDDDDD
    margin-bottom 21px

  &__content--delivery-time
    padding-top 30px

  &__content--address
    padding-top 30px

  &__content--payment-method
    padding-top 30px

  &__form-text
    color #555555
    font-size $font-size+2
    font-family $font
    font-weight 400
    margin-bottom 12px

  &__form-group
    width 341px
    height 75px
    float left
    margin-left 31px
    margin-right 26px

  &__form-group--small
    width 82px
    margin-left 31px
    margin-right 0px
    margin-bottom 32px

  &__input
    width 325px
    height 38px
    border 1px solid #DDDDDD
    border-radius 5px
    padding-left 12px

  &__input--small
    width 78px

  &__form-group--email
    margin-left 0
    margin-right 0

  &__form-group--name
    margin-bottom 21px


  &__form-group--phone
    margin-bottom 32px

  &__title
    background #faf7ef
    float left
    width 756px
    border 1px solid #ddd
    border-top-left-radius 5px
    border-top-right-radius 5px

  &__title-text
    color #303030
    margin-left 30px
    margin-top 19px
    margin-bottom 12px
    font-size $font-size+10
    font-family $font
    font-weight 400