.pbs-slider
  margin-top 20px
  width 265px
  border-radius 3px
  border 1px solid #DDDDDD
  float right

  &__header
    text-align center
    margin-top 20px
    margin-bottom 20px
    color $second-font-color
    font-family $font
    font-size $font-size+8
  &__product-title
    font-size $font-size+4
    font-family $font
    color $second-font-color
    margin-bottom 25px
  &__img
    margin-bottom 50px

  &__changer
    width 49px
    margin 0 auto
    height 12px
    margin-bottom 10px
  &__circle
    width 12px
    height 12px
    background #e5e5e5
    border-radius 12px
    float left
    margin-right 6px
    &:last-child
      margin-right 0px
  &__circle--active
    background #e7582a