.p-seo__text
  font-size $font-size+2
  line-height 22px
  font-family $font
  font-weight 400
  color #555555

.p-seo__poster
  margin-bottom 50px

.p-seo__poster--pb-article
  margin-top 40px


.p-seo__snippet
    background url($url "/assets/images/pb-bg-snippet.png") no-repeat 50% 50%
    height 152px
    margin-top 50px
    margin-bottom 65px


.p-seo__snippet-text
  width 630px
  color #555555
  font-family $font
  font-weight 400
  font-size $font-size+8
  margin 0 auto
  padding-top 42px
