.pl-good
  width 100%
  border 1px solid #dddddd
  float left
  position relative
  text-align center
  height 188px
  margin-bottom 12px
  border-radius 3px
  &__img
    float left
    margin-top 10px
    margin-left 21px
    margin-right 28px
  &__img-wrapper
    float left

  &__text-wrapper
    width 365px
    float left
    margin-top 26px

  &__cart-wrapper
    margin-top 20px
    float right
    margin-right 30px

  &__header
    font-family $font
    font-weight 500
    font-size $font-size+4
    color $second-font-color
    margin-bottom 20px

  &__desc
    font-family $font
    font-weight 400
    font-size $font-size+1
    color #555555
    margin-bottom 20px

  &__price
    text-align left

  &__price-price
    font-size $font-size+10
    font-family  $font
    color $second-font-color
    font-weight 500

  &__price-text
    font-size $font-size+4
    color $second-font-color
    font-family $font
    margin-right 10px

  &__price-wrapper
    height 45px