.header-menu__container
  list-style none
  padding 0

.header-menu__item
  float left
  font-family $font
  font-weight 500
  margin-right 15px
  &:last-child
    margin-right 0px
    font-family $font
    font-weight 500