.p-d-good
  &__price-price
    text-decoration line-through
    color #999999
    font-size $font-size+6
    font-weight 400
  &__price-text
    text-decoration line-through
    color #999999
    font-size $font-size+6
    font-weight 400