.p-good

  &__price
    text-align left

  &__price-price
    font-size $font-size+18
    font-family  $font
    color $second-font-color
    font-weight 500
  &__price-text
    font-size $font-size+10
    color $second-font-color
    font-family $font
    margin-right 10px
    font-weight 500