.p-product
  height 528px
  padding-top 30px

  &__img
    width 490px
    position relative
    float left

  &__chars
    width 365px
    float left

  &__buy
    width 290px
    float left

  &__img-main
    margin-bottom 20px
    margin-left 20px
  &-text
    border-bottom 1px dashed
    font-size $font-size+2
    font-family $font
    color $second-font-color

  &__img-wrapper
    text-align center

  &__img-small
    margin 0 7.5px

  &__img-small--active
    border 1px solid #00a2e5