h2
  text-decoration none
  color #3f4647
  font-size $font-size+14
  font-family $font
.h2
  text-decoration none
  color #3f4647
  font-size $font-size+14
  font-family $font

&--p-product
    margin-bottom 30px
    font-size $font-size+14
    font-weight 400
    font-family $font
    color #222222
    margin-top 35px

  &--p-char-details
    margin-bottom 28px
    font-size $font-size+8
    font-weight 400
    font-family $font
    color #222222