.icon
  display inline-block
  width 100%
  height 100%
  background-size cover !important
  -moz-background-size cover !important
  -webkit-background-size cover !important

  &--heart
    background url($url"/images/icon-heart.png") no-repeat 50% 50%
    width 20px
    height 18px
    top 5px
    left -5px
    position relative

  &--cart
    background url($url"/images/icon-cart.png") no-repeat 50% 50%
    width 18px
    height 18px
    top 5px
    left -5px
    position relative

  &--new
    width 36px
    height 36px
    position relative
    background url($url"/images/icon-new.png") no-repeat 50% 50%
    float left
    top 7px
    left 50px

  &--hot
    width 36px
    height 36px
    position relative
    background url($url"/images/icon-hot.png") no-repeat 50% 50%
    float left
    top 7px
    left 43px

  &--precent
    width 36px
    height 36px
    position relative
    background url($url"/images/icon-precent.png") no-repeat 50% 50%
    float left
    top 7px
    left 38px

  &--star
    width 36px
    height 36px
    position relative
    background url($url"/images/icon-star.png") no-repeat 50% 50%
    float left
    top 7px
    left 38px

  &--good-1
    position absolute
    width 36px
    height 36px
    top 10px
    left 10px
    background url($url"/images/icon-new--green.png") no-repeat 50% 50%

  &--good-new
    position absolute
    width 36px
    height 36px
    top 10px
    left 10px
    background url($url"/images/icon-new--green.png") no-repeat 50% 50%

  &--good-2
    position absolute
    width 36px
    height 36px
    top 52px
    left 10px
    background url($url"/images/icon-precent--orange.png") no-repeat 50% 50%

  &--p-product-hot
    position absolute
    width 36px
    height 36px
    top -10px
    left 5px
    background url($url"/images/icon-precent--orange.png") no-repeat 50% 50%

  &--p-product-star
    position absolute
    width 36px
    height 36px
    top 32px
    left 5px
    background url($url"/images/icon-star--blue.png") no-repeat 50% 50%

  &--mail
    position relative
    width 48px
    height 48px
    top 20px
    background url($url"/images/icon-mail.png") no-repeat 50% 50%

  &--list
    position relative
    float right
    width 17px
    height 17px
    margin-right 12px
    background url($url"/images/icon-list.png") no-repeat 50% 50%

  &--grid
    position relative
    float right
    width 17px
    height 17px
    background url($url"/images/icon-grid.png") no-repeat 50% 50%

  &--heart-white
    top 10px
    right 10px
    position relative
    float right
    width 20px
    height 18px
    background url($url"/images/icon-heart--white.png") no-repeat 50% 50%

  &--delete
    top 10px
    right 10px
    position relative
    float right
    width 20px
    height 18px
    background url($url"/images/icon-delete.png") no-repeat 50% 50%

  &-pl--heart-white
    top 5px
    right 5px
    position relative
    width 20px
    height 18px
    background url($url"/images/icon-heart--white.png") no-repeat 50% 50%

  &-p--heart-white
    top 5px
    right 20px
    position relative
    width 20px
    height 18px
    background url($url"/images/icon-heart--white.png") no-repeat 50% 50%

  &-p--cart-white
    top 5px
    right 20px
    position relative
    width 20px
    height 18px
    background url($url"/images/icon-cart--white.png") no-repeat 50% 50%

  &--cross
    right 5px
    position relative
    width 8px
    height 8px
    background url($url"/images/icon-cross.png") no-repeat 50% 50%

  &--ok
    left 5px
    margin-right 10px
    top 2px
    position relative
    width 15px
    height 15px
    background url($url"/images/icon-ok.png") no-repeat 50% 50%

  &--ok-big
    position relative
    width 24px
    height 24px
    background url($url"/images/icon-ok--big.png") no-repeat 50% 50%

  &--delivery
    left 5px
    margin-right 15px
    right 15px
    float right
    position relative
    width 48px
    height 24px
    background url($url"/images/icon-delivery.png") no-repeat 50% 50%

  &--arrow-left
    float left
    position relative
    width 9px
    height 16px
    background url($url"/images/icon-arrow--left.png") no-repeat 50% 50%

  &--arrow-right
    float right
    position relative
    width 9px
    height 16px
    background url($url"/images/icon-arrow--right.png") no-repeat 50% 50%

  &--plus
    float right
    position relative
    width 13px
    height 13px
    background url($url"/images/icon-plus.png") no-repeat 50% 50%

  &--minus
    float left
    position relative
    width 13px
    height 13px
    background url($url"/images/icon-minus.png") no-repeat 50% 50%

  &--delivery-type1
    float left
    position relative
    width 48px
    height 24px
    background url($url"/images/icon-delivery-type1.png") no-repeat 50% 50%

  &--delivery-type2
    float left
    position relative
    width 48px
    height 48px
    background url($url"/images/icon-delivery-type2.png") no-repeat 50% 50%

  &--payment-type1
    float left
    position relative
    width 48px
    height 48px
    background url($url"/images/icon-cash.png") no-repeat 50% 50%

  &--payment-type2
    float left
    position relative
    width 48px
    height 48px
    background url($url"/images/icon-card.png") no-repeat 50% 50%

  &--payment-type3
    float left
    position relative
    width 48px
    height 48px
    background url($url"/images/icon-ya-money.png") no-repeat 50% 50%

  &--check
    float left
    position relative
    background url($url"/images/icon-check.png") no-repeat 50% 50%
