.rating
  margin-right 30px
  &__img
    margin-right 30px
  &__text
    border-bottom 1px dashed
    font-size $font-size+2
    font-family $font
    color $second-font-color
    font-weight 400
  &--pl
    float left
    margin-bottom 20px
  &--pg
    padding-left 10px
    float left
    margin-bottom 20px

.rating--p-product
  position relative
  top -1px
  height 53px
  line-height 53px
  border-bottom 1px solid #DDDDDD
  border-top 1px solid #DDDDDD
  margin-bottom 30px

.rating--p-buy
  position relative
  margin-bottom 30px