.articul
  color #888888
  font-size $font-size+1
  font-family $font
  text-align left

  &--p-product
    padding-bottom 12px
    border-bottom 1px solid #dddddd

  &--good
    margin-left 10px
    margin-top 15px
    font-weight 400
    font-size $font-size+1
    color #888888