.filters
  background url($url "/assets/images/bg-filter.png") no-repeat 50% 50%
  width 267px
  float left
  min-height 470px
  border-radius 3px
  font-family $font
  -webkit-box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.15)
  -moz-box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.15)
  box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.15)

  &--right
    float right

  &--product-grid
    background #fff
    border 1px solid #ddd
    width 267px
    margin-top 30px

  &__line--product-grid
    border-bottom 1px solid #DDDDDD
    padding 0 10px 0 10px

  &__select
    width 100%

  &__wrapper
    margin 0 13px 0 13px

  &__title
    text-align center
    font-size $font-size+4
    color $white
    height 49px
    line-height 49px
    border-bottom 1px solid #f8af96


  &__label
    font-size $font-size+2
    color $white
    margin-top 20px
    font-family $font
    font-weight 400

  &__label--pg, &__label--pl
    font-weight 500

    &--product-grid, &--pl
      color $base-font-color
      text-transform uppercase
      margin-bottom 23px

  &__btn-wrapper
    border-top 1px solid #febf89
    height 66px
    text-align center
    padding-top 16px

  &__price
    height 146px
    border-bottom 1px solid #ddd
    padding 0 10px 0 10px

  &__range-text
    width 90px
    height 37px
    border-radius 5px
    border 0
    padding 0
    margin 0
    padding-left 10px
    font-family $font
    font-weight 400

  &__range-text--from
    float left

  &__range--product-grid
    border 1px solid #DDDDDD
    width 98px
    height 33px

  &__range-text--to
    float right

  &__brand--product-grid,
  &__age--product-grid,
  &__sex--product-grid
    border-bottom 1px solid #DDDDDD
    padding 0 12px 0 12px

  &__container
    margin 12px 0 12px 0
    font-family $font
    font-weight 400