.product
  text-align center
  font-family $font
  float left
  width 194px

  &__title
    text-align center
    margin-top 30px
    font-family $font
    font-weight 500
    font-size $font-size+4

  &__img-wrapper
    height 108px
    font-family $font