.footer-menu
  padding-top 30px
  float left

  &__title
    color $footer-title-color
    font-size $font-size+2
    text-transform uppercase
    font-weight 400

  &__container
    list-style none
    padding 0

  &__item
    margin-bottom 15px
    &:first-child
      padding-top 10px
      margin-bottom 20px
      font-weight 400

  &__link
    text-decoration none
    color $white

  &--buyers
    margin-left 115px

  &--order
    margin-left 65px